footer
  .container.footer__container
    .main-menu
      .logo.top-menu__logo
        h1.logo__title HouseVOP
        p.logo__descr= 'жилой комплекс'
    nav.nav.nav_direction_column.footer-links_grid-column_4
      a(href="#") Контакты
      a(href="#") Ипотека
      a(href="#") Каталог квартир
      a(href="#") Район
      a(href="#") О комплексе
    nav.nav.nav_direction_column.footer-links_grid-column_6
      a(href="#") Контакты
      a(href="#") Ипотека
      a(href="#") Каталог квартир
      a(href="#") Район
      a(href="#") О комплексе
    nav.nav.nav_dir_col.footer-links_grid-column_8
      h4= 'Адрес: Наб. реки Фонтанки 10-15'
      p= 'Телефон: 8 (812) 123-45-67'
      p= 'Отдел продаж: 10:00 - 20:00'
      p= 'Email: vip@housevip.ru'
      .footer-icon
        img.footer-icon__img.footer-icon__img_indent-left_0(src="./assets/img/vkontakte.png")
        p= 'VK.com'
      .footer-icon
        img.footer-icon__img(src="./assets/img/facebook.png")
        p= 'Facebook'
      .footer-icon
        img.footer-icon__img(src="./assets/img/instagram.png")
        p= 'Instagram'