footer
  .container.footer__container
    .main-menu
      .logo.top-menu__logo
        h1.logo__title HouseVOP
        p.logo__descr= 'жилой комплекс'
    nav.nav.nav_direction_column.nav_flex-dir_col-rev.footer-links_grid-column_4
      a(href="#") Контакты
      a(href="#") Ипотека
      a(href="#") Каталог квартир
      a(href="#") Район
      a(href="#") О комплексе
    nav.nav.nav_direction_column.nav_flex-dir_col-rev.footer-links_grid-column_6
      a(href="#") Контакты
      a(href="#") Ипотека
      a(href="#") Каталог квартир
      a(href="#") Район
      a(href="#") О комплексе
    nav.nav.nav_direction_column.footer-links_grid-column_8.nav__email_height_281
      h4= 'Адрес: Наб. реки Фонтанки 10-15'
      p= 'Телефон: 8 (812) 123-45-67'
      p= 'Отдел продаж: 10:00 - 20:00'
      p= 'E-mail: '
        <span class="email_color_yellow">vip@housevip.ru</span>
      .footer-icon
        img(src="./assets/img/vk.png")
        img(src="./assets/img/facebook-logo.png")
        img(src="./assets/img/instagram.png")
        img(src="./assets/img/youtube.png")