mixin item(descr)
  .item
    p.item-descr= descr
    //- h2.item-title= title

mixin item-loft(descr)
  .item-loft
    p.item-descr.item-descr_size_24.our-apartments__item-descr= descr
    //- h2.item-img= title

mixin item-form(section)
  form(class=section, action='#', method='POST')
    input.input(class=section + '__input', type='text', name='name', value='Ваше имя')
    input.input(class=section + '__input', type='text', name='telephone', value='Ваш телефон')
    input.input.input_color_FFF.input_background-color_D4C17F(class=section + '__input ', style='submit', value='Посмотреть район')
    p.text-area(class=section + '__text-area') *Мы никому не передаем ваши данные. И не сохраняем ваш номер в базу.